body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin: 1rem;
}

.search-result {
    display: grid;
    grid-gap: 0.25rem;
    text-transform: capitalize;
}

.location {
    color: gray;
    font-size: 0.95rem;
}

#results-list {
    display: grid;
    grid-gap: 1rem;
}

.search-result-title {
    font-size: 1.25rem;
}

.search-result-room, .search-result-container, .search-result-bin {
    display: inline-block;
}

.search-result-room::after, .search-result-container::after {
    content: " > ";
}

#search-area {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto 2rem;
}

#search-field {
    color: white;
    background-color: #333333;
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 1rem;
}

#search-field:focus {
    outline: none;
    border: 1px solid #AAAAAA;
}

mark {
    background-color: #214454;
    color: white;
}

#search-field-dictation {
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    color: white;
}